@{
    ViewBag.Title = "About";
}
<h2>Bats of the World</h2>

<div class="container">
    <ul class="first">
        <li style="list-style-type: none;"> 
            <img src="~/Content/BadgerPandaBat.jpg" />
        <p>Badger Panda Bat</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/Blossombat(SmallestFlyingFoxBatSpecies).png" /> 
            <p>Blossom Bat.</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/BumblebeeBat.jpg" />
            <p>Bumblebee Bat, the world's smallest bat species</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/ChalinolobusGouldii(GouldsWattledBat).jpg" />
            <p>Chalinolobus Gouldii (Gould's Wattled Bat)</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/Cheiromeles Torquatus Bat (Naked Bulldog bat).jpg" />
            <p>Cheiromeles Torquatus Bat (Naked Bulldog Bat)</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/DwarfEpaulettedFruitBat.jpg" />
            <p>Dwarf Epauletted Fruit Bat</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/FlyingFoxPteropus.jpg" />
            <p>Flying Fox Pteropus</p>
        </li>
        <li style="list-style-type: none;">
            <img src="~/Content/fruitbat1.jpg" />
            <p>Fruit Bat</p>
        </li>
    </ul>
</div>

<script>
    $('ul.first').bsPhotoGallery({
        "classes": "col-lg-2 col-md-4 col-sm-3 col-xs-4 col-xxs-12",
        "hasModal": true
    });

</script>
